

  #main {
      float: left;
      width: 580px;
  }

  #sidebar {
      padding: 15px;
      background-color: #E9F5FE;
      margin-left: 600px;
  }

  body {
      color: #B1967C;
      font-family: 'Palatino Linotype','Baskerville';
      padding-top: 100px;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 0px; 
      background-color: #CDE6FF;
      background-image: url(fotos/bg_body.png);
      background-repeat: repeat-x;

  }
  
h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.2em;
    color: #AFC3D6;
    margin-bottom: 5px;
}
  #main h2{
    color: #E8A064;
    border-bottom: solid #fff 1px;
    background-image: url(fotos/bullet_flower.png);
    background-repeat: no-repeat;
    padding: 0px 0px 10px 80px;
}

