table {
    border-collapse: collapse;
    border: 2px solid rgb(3, 143, 26);
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: #000;
    background-color: transparent;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    border-collapse: collapse;
  }
  
  td {
    text-align: center;
  }

  .bd {
    background-color: rgba(238, 85, 14, 0.2);
  }
  .redes {
    background-color: rgba(20, 38, 233, 0.2);
  }
  .lm {
    background-color: rgba(58, 21, 223, 0.2);
  }
  .fun {
    background-color: rgba(24, 112, 24, 0.3);
  }
  .fol {
    background-color: rgba(45, 216, 199, 0.2);
  }
  .iso {
    background-color: rgba(194, 28, 194, 0.2);
  }
  th:hover {
    background-color: rgba(199, 199, 49, 0.2);
  }
  td:hover {
    background-color: rgba(156, 204, 204, 0.3);
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
}
 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

.button:hover {
  background-color: #3e8e41
}
.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.button2 {
  background-color: #008CBA;
  cursor: grabbing;
} /* Blue */
.button3 {
  background-color: #f44336;
} /* Red */ 
.button4 {
  background-color: #e7e7e7; color: black;
} /* Gray */ 
.button5 {
  background-color: #555555;
} /* Black */
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.h1 {
  text-shadow: 2px 2px 5px red;
}