
body {
  background: #696969 url("fotos/bg_page.png") repeat-y fixed center;
}
.contenido {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.moto {
  display: flex;
  justify-content: center;
}
img {
  border: 3px solid black;
}
.texto {
  text-align: justify;
  color: #111010;
}
h1 {
  text-align: center;
}

