div {
    height: 370px;
    width: 350px;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    border-style: groove;
    border-radius: 9px;
    border-width: 5px;
    background-color: rgb(152, 197, 16);
}

body {
    background-color: rgb(200, 115, 172);
}